---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Images from "../components/Images.astro";
---

<Layout title="San Juan Opico | La Libertad">
	<section>
		<Header />
		<Images />
	</section>
</Layout>

<style>
	body {
		background-color: #eee;
		color: #333;
		transition:
			background-color 250ms,
			color 250ms;
	}

	body.dark {
		background-color: #2e3644;
		color: #fff;
	}

	section {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	@media (width < 900px) {
		section {
			flex-direction: column;
		}
	}
</style>
