---
import ThemeSwitch from "./ThemeSwitch.jsx";
---

<header>
	<h1>San Juan Opico</h1>

	<ThemeSwitch client:visible />

	<p>
		San Juan Opico es una Ciudad y distrito de El Salvador perteneciente al
		departamento de <strong>La Libertad</strong>.
	</p>
	<p>
		Está ubicado a 42 kilómetros de San Salvador, capital de la república. El
		municipio tiene un territorio de 218 km² y una población de 74,280
		habitantes según censo del 2007 ocupando el puesto número 13 en población.
	</p>
	<p>
		Dentro de su territorio está el sitio arqueológico precolombino Joya de
		Cerén, además de una iglesia construida en la época colonial.
	</p>
</header>
<style>
	header h1 {
		text-align: center;
		font-size: 2em;
	}

	header p {
		font-size: 1.3em;
	}
</style>
