---
import ThemeSwitch from "./ThemeSwitch.jsx";
---

<header>
	<h1>San Juan Opico</h1>

	<ThemeSwitch client:visible />

	<p>
		San Juan Opico es una Ciudad y distrito de El Salvador perteneciente al
		departamento de <strong>La Libertad</strong>.
	</p>
	<p>
		Está ubicado a 42 kilómetros de San Salvador, capital de la república. El
		municipio tiene un territorio de 218 km² y una población de 74,280
		habitantes según censo del 2007 ocupando el puesto número 13 en población.
	</p>
	<p>
		Dentro de su territorio está el sitio arqueológico precolombino Joya de
		Cerén, además de una iglesia construida en la época colonial.
	</p>

	<a
		href="https://maps.app.goo.gl/K5Ax7C2uv7VGn3DQ8"
		target="_blank"
		rel="noreferrer"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 92.3 132.3"
			width="30"
			height="30"
			><path
				fill="#1a73e8"
				d="M60.2 2.2C55.8.8 51 0 46.1 0 32 0 19.3 6.4 10.8 16.5l21.8 18.3L60.2 2.2z"
			></path><path
				fill="#ea4335"
				d="M10.8 16.5C4.1 24.5 0 34.9 0 46.1c0 8.7 1.7 15.7 4.6 22l28-33.3-21.8-18.3z"
			></path><path
				fill="#4285f4"
				d="M46.2 28.5c9.8 0 17.7 7.9 17.7 17.7 0 4.3-1.6 8.3-4.2 11.4 0 0 13.9-16.6 27.5-32.7-5.6-10.8-15.3-19-27-22.7L32.6 34.8c3.3-3.8 8.1-6.3 13.6-6.3"
			></path><path
				fill="#fbbc04"
				d="M46.2 63.8c-9.8 0-17.7-7.9-17.7-17.7 0-4.3 1.5-8.3 4.1-11.3l-28 33.3c4.8 10.6 12.8 19.2 21 29.9l34.1-40.5c-3.3 3.9-8.1 6.3-13.5 6.3"
			></path><path
				fill="#34a853"
				d="M59.1 109.2c15.4-24.1 33.3-35 33.3-63 0-7.7-1.9-14.9-5.2-21.3L25.6 98c2.6 3.4 5.3 7.3 7.9 11.3 9.4 14.5 6.8 23.1 12.8 23.1s3.4-8.7 12.8-23.2"
			></path></svg
		>
		<span>Visitar</span>
	</a>
</header>
<style>
	header h1 {
		text-align: center;
		font-size: 2em;
	}

	header p {
		font-size: 1.3em;
	}

	header a {
		--bg: #e74c3c;
		--text-color: #fff;
		display: block;
		position: relative;
		width: 150px;
		border: none;
		background: var(--bg);
		color: var(--text-color);
		padding: 0.5em;
		font-weight: bold;
		text-transform: uppercase;
		transition: 0.2s;
		border-radius: 5px;
		opacity: 0.8;
		letter-spacing: 1px;
		box-shadow:
			#c0392b 0px 7px 2px,
			#000 0px 8px 5px;
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
		text-decoration: none;
	}

	header a:hover {
		opacity: 1;
		cursor: pointer;
	}

	header a:active {
		top: 4px;
		box-shadow:
			#c0392b 0px 3px 2px,
			#000 0px 3px 5px;
	}
</style>
